:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 1.5em 2em;
}

p {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: lighter;
  margin-bottom: 0;
}

h2 {
  font-size: var(--font-size-lg);
  text-align: center;
}

h3 {
  font-size: var(--font-size-md);
}

h4 {
  font-size: var(--font-size-base);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  font-size: 1.5em;
}

span {
  margin-top: 0;
}

#border-top {
  border-top: solid;
  border-top-color: lightgray;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items : center;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

nav ul li {
  padding-left: 1.125em;
  font-size: 1.5em;
  text-transform: uppercase;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
}

nav ul li a:hover,
nav ul li a:focus {
  color: red;
}

.limited-edition-grid img {
  border-radius: 10px;
}

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.button:hover {
  background-color: red;
}

#style {
  color: white;
  padding: 2em 0;
  background-color: black;
}

i {
  margin-left: 2.5em;
}

.try-grid div {
  background-color: #D3D3D3;
  border-radius: 20px;
  text-align: center;
}


.try-grid img {
  border-radius: 20px 20px 0 0;
}

footer {
  text-align: center;
  padding: 2em;
}


@media (min-width: 38em) {
  .intro-grid {
    display: grid;
  }

  .intro-grid > .wrapper {
    padding: 0em 2em;
  }

  .limited-edition-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  
    margin: 2.5em 0;
  }
  
  #picture-1 {
    grid-column: 1 / 4;
  }
  
  #bite-me-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .behind-grid {
    display: grid;
    margin: 2em 0;
  }

  .quotes-grid {
    display: grid;
    gap: 1em;
    margin: 2em 0;
  }

  .try-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  
    margin: 2em 0;
  }
  
}

@media (min-width: 60em) {
  .wrapper {
    max-width: 80%;
  }

  .intro-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0em 2em;
    gap: 2em;
  }

  .intro-grid > .wrapper {
    padding: 0em 0em;
  }

  #picture-1 {
    grid-column: 1/2
  }
  
  .limited-edition-grid {
    grid-template-columns: 1fr 1fr;
  }

  .behind-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .quotes-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
  }

  .try-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}